*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    
}

.Main{
    display: flex;
    
    flex-wrap: wrap;
    padding-left: 70px;
 
}
.Title{
    display: flex;
    align-items: center;
    justify-content: center;
}
