.Box-item{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 300px;
    padding: 80px ;

}

.nome-do-produto{
    font-size: 15px;
    display: flex;
    text-align: center;
    


}

.botao-comprar{
    width: 140px;
    padding: 20px 0px 20px 0px;
    background: rgb(88, 88, 180);
    color: white;
    border: 0px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
    
   
}
.botao-comprar:hover{
    cursor: pointer;
    text-decoration: blue;
    background: red;
    padding: 22px 15px 22px 15px;
    
}