.upbarra{
    display: flex;
    
   align-items: center;
   flex-direction: row;
    background-color: rgb(228, 224, 15);
    height: 125px;
    width: 100%;
   
    
}

.Bicart{
  height: 75px;
  width: 75px;
  color: black;
  
  
}

.boxcar{
  position: absolute;
  margin-top: 30px;
  right: 24.2%;
  
}
.boxcar:hover{
  height: 20px;
}


.posicart{
  margin-left: 100px;
}
.icouser{
  width: 112px;
  height: 50px;
  transition: 1s;
  color: black;
  
}
.icouser:hover{
  color: red;
  
}
.usuariologin{
  margin-left: 9em;
  
  
}

.abalogin{
  text-decoration: none;
}
.abacadastro{
  text-decoration: none;
}
.pesquisa{
  width: 420px;
  height:  50px;
  border-radius: 10px;
  border: 1px solid black;
  box-decoration-break: none;
  font-size: 18px;
  padding: 16px;
  margin-left: 100px;
  background: rgb(250, 248, 112);
  
}

.namelogo{
  font-size: 40px;
  text-decoration: none;
  margin-left: 15px;
  
}
.logoEJ{
  margin-left: 20px;
}
.Logo{
   border: 0px;
  
}

.LogoImg{
  height: 100px;
  width: 100px
}
#listabarra{
  box-decoration-break: none;
}

